html {
	height: 100%;
}
body {
	background: rgba(0, 0, 0, 0.03);
	min-height: 100%;
}
@media (min-width: 1220px) {
	.uk-container {
		max-width: 100%;
		padding: 0 35px;
	}
}



.b-hidden {
	display: none;
}



.l-main {}
.b-main {
}


.b-list_rasps {
	margin: 20px 0;
	position: relative;
	border-radius: 5px;
}
.b-list_rasps::before {
	z-index: 1;
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	border-radius: 5px;
	height: 100%;
	background: #e1e1e1;
	box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.06);
}
.b-list_rasps .b-rasp {
	margin-bottom: 5px;
	padding: 0 5px 0 10px;
	position: relative;
	min-height: 50px;
	background: #fff;
	transition: all 0.2s linear;
	cursor: pointer;
}
.b-list_rasps .b-rasp.m-passed {
}
.b-list_rasps .b-rasp.m-passed:hover {
}
.b-list_rasps .b-rasp-progress {
	display: block;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	border-radius: 5px;
	height: 0%;
}
.b-list_rasps .b-rasp-time {
	position: absolute;
	left: -40px;
	width: 30px;
	text-align: right;
	font-size: 8px;
	line-height: 1;
}
.b-list_rasps .b-rasp-time_begin {
	top: 0;
}
.b-list_rasps .b-rasp-time_end {
	bottom: 0;
	opacity: 0.7;
}



.b-selectGroup {
	width: 100px;
}
.b-selectGroups {
	width: 100%;
}



.b-changeMode {
	margin: 20px 0;
	display: block;
}



.b-list_notes {}
.b-list_notes .b-note {
	margin-top: 20px;
	position: relative;
}
.b-list_notes .b-note p:first-child {
	margin-top: 0;
}
.b-list_notes .b-note-date {
	position: absolute;
	top: -9px;
	left: -1px;
	width: 50px;
}
.b-list_notes .b-note-delete {
	position: absolute;
	top: -10px;
	right: -10px;
}
.b-list_notes .b-note-delete .uk-button {
	padding: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}



.b-addNote {
	margin-top: 25px;
}
.b-addNote textarea {
	margin-bottom: 20px;
	width: 100%;
}



.b-list_lessons {
	display: block;
}
.b-list_lessons .b-lesson {
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
	display: block;
	text-decoration: none;
	color: #000;
	background: #fff;
	border: 1px solid #35b3ee;
	border-color: rgba(53, 179, 238, 0.35);
}
.b-list_lessons .b-lesson:last-child {
	margin-bottom: 0;
}
.b-list_lessons .b-lesson.m-active {
	border-color: rgba(130, 187, 66, 0.55);
}
.b-list_lessons .b-lesson-timeBegin,
.b-list_lessons .b-lesson-timeEnd {
	position: absolute;
	left: 0;
	width: 100px;
	font-size: 9px;
	line-height: 1.2;
	background-color: #35b3ee;
	color: #fff;
	text-align: center;
}
.b-list_lessons .b-lesson-timeEnd {
	opacity: 0.4;
}
.b-list_lessons .b-lesson.m-active .b-lesson-timeBegin,
.b-list_lessons .b-lesson.m-active .b-lesson-timeEnd {
	background-color: rgba(130, 187, 66, 1);
}
.b-list_lessons .b-lesson-timeBegin {
	top: 0;
}
.b-list_lessons .b-lesson-timeEnd {
	bottom: 0;
}
.b-list_lessons .b-lesson-pair {
	margin-top: -14px;
	top: 50%;
	position: absolute;
	left: 6px;
	height: 24px;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	color: #35b3ee;
}
.b-list_lessons .b-lesson.m-active .b-lesson-pair {
	color: rgba(130, 187, 66, 1);
}
.b-list_lessons .b-lesson-info {
	margin-top: -21px;
	padding: 13px 10px 10px 20px;
	float: left;
	width: 80px;
	position: absolute;
	top: 50%;
	height: 28px;
	line-height: 1;
	text-align: right;
}
.b-list_lessons .b-lesson-auditory {
	display: inline-block;
	vertical-align: baseline;
	font-weight: bold;
}
.b-list_lessons .b-lesson-type {
	display: inline-block;
	vertical-align: baseline;
}
.b-list_lessons .b-lesson-content {
	padding: 10px 50px 10px 110px;
	overflow: hidden;
	position: relative;
}
.b-list_lessons .b-lesson-title {
	margin-right: 10px;
	display: inline;
	font-size: 18px;
}
.b-list_lessons .b-lesson-prepod {
	display: inline;
	font-style: italic;
	opacity: 0.4;
	white-space: nowrap;
}
.b-list_lessons .b-lesson-notes {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 16px;
	color: #d32c46;
}
.b-list_lessons .b-lesson:hover .b-lesson-notes {
	opacity: 0.9;
}



.b-list_days {
	font-size: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.b-list_days > * {
	font-size: 14px;
}
.b-list_days .b-day {
	margin-bottom: 10px;
	position: relative;
	padding: 25px 15px 15px 30px;
	border-radius: 3px;
	width: 100%;
	min-height: 180px;
	border: 1px dotted rgba(68, 68, 68, 0.3);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.b-list_days_week {}
.b-list_days_week .b-day {}
@media (min-width: 768px) {
	.b-list_days_week {
		margin: 0 -1%;
	}
	.b-list_days_week .b-day {
		margin: 0 1% 10px 1%;
		display: inline-block;
		vertical-align: top;
		width: 48%;
	}
}
.b-list_days .b-day.m-active {
	border-color: rgba(130, 187, 66, 0.55);
	border-width: 2px;
	border-style: solid;
}
.b-list_days .b-day .b-day-week {
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 1;
	font-weight: 200;
	font-style: italic;
	font-size: 14px;
	opacity: 0.4;
}
.b-list_days .b-day.m-active .b-day-week {
	color: rgba(130, 187, 66, 1);
	opacity: 0.7;
}
.b-list_days .b-day-left {
	z-index: 1;
	top: 325px;
	left: 0;
	width: 300px;
	position: absolute;
	line-height: 1;
	text-align: right;
	-webkit-transform-origin: 0 0% 0;
	-moz-transform-origin: 0 0% 0;
	-ms-transform-origin: 0 0% 0;
	transform-origin: 0 0% 0;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	white-space: nowrap;
	font-style: italic;
}
.b-list_days .b-day-title {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	opacity: 0.3;
}
.b-list_days .b-day.m-active .b-day-title {
	color: rgba(130, 187, 66, 1);
	opacity: 1;
}



.b-table {}
.b-table_subjects {
	table-layout: fixed
}
.b-table_subjects td,
.b-table_subjects th {
	text-align: center;
	vertical-align: middle;
	padding: 0;
	height: 16px;
	border-right: 1px solid rgba(0,168,230,0.2);
}
.b-table_subjects colgroup.m-hover {
	border-left: 3px solid rgba(221, 0, 85, 0.3);
	border-right: 3px solid rgba(221, 0, 85, 0.3);
}
.b-table_subjects colgroup.m-active {
	border-left: 3px solid rgba(130, 187, 66, 1);
	border-right: 3px solid rgba(130, 187, 66, 1);
}
.b-table_subjects .b-table-head td {
	font-size: 10px;
	height: 12px;
	line-height: 1;
}
.b-table_subjects .b-table-head th {
	color: #fff;
	background-color: rgba(0,168,230,0.3);
}
.b-table_subjects .b-subject {
	border-bottom: 14px solid rgba(0,168,230,0.2);
}
.b-table_subjects .b-subject-name {
	// -webkit-transform: rotate(-90deg);
	// -ms-transform: rotate(-90deg);
	// transform: rotate(-90deg);
	// -webkit-transform-origin: 50% 50% 0;
	// -moz-transform-origin: 50% 50% 0;
	// -ms-transform-origin: 50% 50% 0;
	// transform-origin: 50% 50% 0;
}
.b-table_subjects .b-subject-day {
	opacity: 0.8;
	position: absolute;
	padding: 0 3px;
	right: 2px;
	top: 4px;
	width: 12px;
	font-size: 12px;
	text-align: center;
	line-height: 1;
	color: #fff;
	border-radius: 3px;
	background-color: #dddddd;
	font-style: italic;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.4);
}




.b-table_subjects .b-subject-week {
	padding: 2px 0 2px 5px;
	position: relative;
	font-size: 12px;
	line-height: 1;
	height: 16px;
	border-bottom: none;
	text-align: left;
}
.b-table_subjects .b-subject-week.m-empty {
	background: repeating-linear-gradient(
		-45deg,
		rgba(0,0,0,0.08),
		rgba(0,0,0,0.08) 4px,
		#dddddd 4px,
		#dddddd 8px
	);
}
.b-table_subjects .b-subject:hover .b-subject-week {
	background-color: rgba(130, 187, 66, 0.1);
}
.b-table_subjects .b-subject:hover .b-subject-name {
	color: #82bb42 ;
}
.b-table_subjects .b-subject:hover .b-subject-week.m-empty {
	background: repeating-linear-gradient(
		-45deg,
		rgba(0,0,0,0.04),
		rgba(0,0,0,0.04) 4px,
		rgba(130,187,66,0.28) 4px,
		rgba(130,187,66,0.28) 8px
	);
}
.b-table_subjects .b-table-head th:nth-child(4n+1),
.b-table_subjects .b-table-head td:nth-child(4n+1),
.b-table_subjects .b-subject-name,
.b-table_subjects .b-subject-week:nth-child(4n+1)  {
	border-right: 2px dashed rgba(0,168,230,0.6);
}



.b-table_subjects .b-lesson {}
.b-table_subjects .b-lesson-type {
	padding: 2px;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
}
.b-table_subjects .b-lesson-type_lecture {
	background-color: #009dd8;
}
.b-table_subjects .b-lesson-type_practice {
	background-color: #82bb42;
}
.b-table_subjects .b-lesson-type_lab {
	background-color: #d32c46;
}

.prepod-line{
	width:100%;
	padding: 5px;
}

.find td{
	padding:5px;
}